<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {%for message
    in messages%}
    <p>{{message}}</p>
    {%endfor%} {%endif%} {% endwith %}
    <form action="#" method="post">
      <p><input type="text" name="username" placeholder="username" /></p>
      <p><input type="password" name="password" /></p>
      <p><i>{{error}}</i></p>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
